@model BitBookMVCApp.Models.Post

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
        </dt>

        <dd>

        </dd>

        <dt>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextPost)
        </dd>

        <dt>

        </dt>

        <dd>
            @if (Model.ImgPost != null)
            {
                <img src="@Url.Content(Model.ImgPost)" alt="" style="height: 300px; width: 300px" />
            }

        </dd>

        <dt>

        </dt>

        <dd>
            <br />
            @Html.DisplayFor(model => model.PostDate)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to TimeLine", "TimeLine", "Profile")
        </div>
    }
</div>
