@model BitBookMVCApp.Models.CoverPhoto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CoverPhoto</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoverImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoverImage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CoverPhotoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
