@using BitBookMVCApp.Models
@using Microsoft.AspNet.Identity
@model dynamic

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<h2>Friends Who Like This Post</h2>

@foreach (SearchFriend item in Model.LikeUsers)
{
    <table>

        <tr>
            <td>
                @if (@item.ProfilePhoto != null)
                {
                    <img src="@Url.Content(@item.ProfilePhoto)" alt="" style="height: 180px; width: 180px; border: 1px solid" />
                }

                @if (@item.ProfilePhoto == null)
                {
                    <div style="border-style: ridge; width: 180px; height: 180px;">
                    </div>
                }

            </td>
            <td>
                &nbsp; &nbsp;
                @if (item.UserName != null)
                {
                    @Html.ActionLink(item.UserName, "BrowseProfile", "profile", new { id = item.UserId }, null)
                }
                @if (item.UserName == null)
                {
                    @Html.ActionLink(User.Identity.GetUserName(), "BrowseProfile", "profile", new { id = item.UserId }, null)
                }
                
                <br />
                <br />

            </td>

        </tr>
    </table>

    <br />

}

